@font-face {
 font-family: CormorantGaramond-Bold;
  src: url("assets/text styles/CormorantGaramond-Bold.ttf");
  font-family: CormorantGaramond-Regular;
  src: url("assets/text styles/CormorantGaramond-Regular.ttf");
  font-family: PlayfairDisplaySC-Regular;
  src: url("assets/text styles/PlayfairDisplaySC-Regular.ttf");
  font-family: Raleway-VariableFont_wght;
  src: url("assets/text styles/Raleway-VariableFont_wght.ttf");
}
